svg {
    width: 5.5rem;
    margin-top: -15px;
   
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
 /* Minimum height of the viewport */
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    background-color: #FF5173;
    position: fixed; /* Fix the navbar at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /* Place the navbar above the video */
}

li.navitem {
    float: right;
}

li.selected-navitem {
    float: right;
}
li.navitem a {
    display: block;
    color: white;
    text-align: center;
    /* vertical-align: middle; */
    padding: 15px 20px;
    /* margin-top: 5%; */
    text-decoration: none;
}

li.selected-navitem a:hover {
    background-color: pink;
    width:70%;
    height:70%;
}


li.navitem a:hover {
    background-color: pink;
}


video {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown.selected{
    background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FF5173;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 1;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #FF5173}

.dropdown:hover .dropdown-content {
  display: block;
}

section {
    margin: auto ;
    background-color: rgb(255, 82, 116,0.8);
    margin-top: 100px;
    width: 80%;
    text-align: center;
    backdrop-filter: blur(1px);
}
.header {
    padding-top: 5px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.articles {
    margin: 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.article-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%; /* Adjust this as needed */
}

.articlecontainer1{
    display: relative;
    margin:5px;
    align-items: center;
    justify-content: center;
}
.images {
    margin-right:50px;
    max-width: 50%;
    max-height:25%;
    float: left;
  }
  
  
  .text {
    color:aqua;
    font-size: 20px;
    text-align: center;
    margin-top: 0%;
   
  }

  .bookbutton{
    margin-top: 15%;
  }


article {
    background: rgba(225, 225, 225);
    width: 25%;
    margin: 15px 15px;
    border-radius: 35px;
}
h1{
    color: aqua;
}


h2 {
    font-size: 3vh;
    margin-top: 10px;
    margin-bottom: -5px;
    color: #FF1E4A;
}
.flip-horizontal {
    transition: transform 0.5s;
}

.flip-horizontal:hover {
    transform: scaleX(-1);
}



article img {
    padding-top: 15px;
    width: 90%;
    height: 150px;
    border-radius: 30px;
}
button{
    background-color: #FF385E;
    color:#f2f2f2;
    border:none;
    padding: 10px 20px;
    font-size: 15px;    
    border-radius: 25px;
}
button:hover {
    background-color: #FF849C;
    color: white;
}

.footer {
  
    position: fixed;

    background-color: teal;
    height: 50px;
    width: 100%;
    line-height: 50px;
    padding-right: 15px;
    bottom: 0;
}
.footer .nav-links a{
    text-decoration: none;
   
}
.nav-links {
    margin-left: 10px;
    
}

.logo {
    float: left;
    /* animation: fly-in 1s ease-in-out; */
    transition: transform 0.2s ease-in-out;
}
.logo:hover {
    animation: pulse 1s infinite; /* Apply the pulse animation on hover */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Scale up by 10% */
    }
    100% {
        transform: scale(1);
    }
}
label {
  text-align: left; 
  display: inline-block; 
  width: 100%; 
  box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .container {
    width: 50%; 
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px; 

    text-align: center; 
  }
  
  input[type=text],
  select,
  textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: teal;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: pink;
  }
  @media only screen and (max-width: 768px) {
    body{
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: 100% 100%;
    }
    video{
        display:none;
    }
    html{
        height:100%;
        width:100%;
    }
    section{
        background-color: transparent;
    }
    .articles {
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    article{
        width: 100%;
        height: 100%;
        border-radius: 0 50%;
        margin: 15px 0;
        overflow: auto;
    }
    article img{
        width: 100%;
        height:100%;
        padding-top: 0;
        border-radius: 0 50%;
        object-fit: cover;
    }
    article p{
      margin-left:30px;
      margin-right:10px;
    }
    .navitem,.navitem .dropdown{
        display:none;
    }
    button{
        border-radius: 0 50%;
    }
    .flip-horizontal {
        transition: transform 0.5s;
        
    }
    
    .flip-horizontal:hover {
        transform: scaleX(-1);
        border-radius: 50% 0%;
    }
    .footer{
        text-align: center;
    }
    
    

   
    
    
 
   
  }
        
